<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >-->
<suite name="搜索" preserve-order="true" parallel="tests" thread-count="5">
    <listeners>
        <listener class-name="com.tangym.utils.RetryListener"/>
    </listeners>
    <usedefaultlisteners name="false"/>

    <test name="百度搜索">
        <classes>
            <class name="cases.BaiduTest"/>
            <methods>
                <include name="testBaiduSearch"/>
                <include name="testBaiduLogin"/>
            </methods>
        </classes>
    </test>
</suite>